/* Write your CSS here */

.footer-bg-container {
  background-color: #cbd5e1;
  height: 100px;
  width: 100vw;
}
.footer-heading {
  color: #475569;
  font-size: 55px;
  font-family: 'Roboto';
  align-items: center;
}
